        body{
            background-color: lab(91.08% -11.91 20.42 / 0.804);
            text-align: center;
        }
        h1{
            color: hsl(296, 34%, 27%);
        }
        h2{
            margin: 10px;
            color: rgb(50, 49, 49);
        }
        img {
            width: 400px;
            height: 3%;
            border-radius: 10px;
            margin: 20px 0;
            float: middle;
        }
        a:hover{
            color:green;
            text-decoration: underline;
            
        }
        a:active{
            color:brown;
            background-color: transparent;
        }
        button{
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: green;
            color: white;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            background-color: rgb(30, 81, 38);
        }
        button:active {
            background-color: blue;
        }
    